.frameChild {
  height: 22.6px;
  width: 22.6px;
  position: relative;
}
.starParent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0;
  gap: var(--gap-6xs-5);
}
.alexK {
  position: relative;
  line-height: 22px;
  display: inline-block;
  min-width: 66px;
}
.frameIcon {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.alexKParent {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-9xs);
}
.findingClothesThat {
  position: relative;
  font-size: var(--font-size-base);
  line-height: 22px;
  font-family: var(--font-open-sans);
  color: var(--color-gray-600);
  display: inline-block;
  min-height: 110px;
}
.frameGroup {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xs);
}
.frameParent,
.reviewSlides,
.reviewSlidesInner {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.frameParent {
  flex: 1;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-mini);
}
.reviewSlides,
.reviewSlidesInner {
  flex-direction: row;
}
.reviewSlidesInner {
  flex: 1;
  justify-content: center;
}
.reviewSlides {
  width: 400px;
  border-radius: var(--br-xl);
  border: 1px solid var(--color-gray-500);
  box-sizing: border-box;
  overflow: hidden;
  flex-shrink: 0;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-content: flex-start;
  padding: var(--padding-7xl) var(--padding-12xl);
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--color-black);
  font-family: var(--font-roboto);
}
@media screen and (max-width: 450px) {
  .alexK {
    font-size: var(--font-size-base);
    line-height: 18px;
  }
  .reviewSlides {
    gap: var(--gap-152xl);
  }
}
