.cart {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 80px;
  line-height: normal;
  letter-spacing: normal;
}
@media screen and (max-width: 750px) {
  .cart {
    gap: var(--gap-21xl);
  }
}
@media screen and (max-width: 450px) {
  .cart {
    gap: var(--gap-xl);
  }
}
