@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500;700&display=swap");
body {
  margin: 0;
  line-height: normal;
}
:root {
  /* fonts */
  --font-open-sans: "Open Sans";
  --font-roboto: Roboto;

  /* font sizes */
  --font-size-sm: 14px;
  --font-size-base: 16px;
  --font-size-14xl-5: 33.5px;
  --font-size-8xl: 27px;
  --font-size-xl: 20px;
  --font-size-21xl: 40px;
  --font-size-13xl: 32px;
  --font-size-5xl: 24px;
  --font-size-lgi: 19px;
  --font-size-7xl: 26px;
  --font-size-xs: 12px;
  --font-size-29xl: 48px;
  --font-size-19xl: 38px;
  --font-size-10xl: 29px;
  --font-size-17xl: 36px;
  --font-size-3xl: 22px;
  --font-size-45xl: 64px;
  --font-size-32xl: 51px;

  /* Colors */
  --color-white: #fff;
  --color-whitesmoke-100: #f0f0f0;
  --color-whitesmoke-200: #f0eeed;
  --color-gray-100: rgba(0, 0, 0, 0.2);
  --color-gray-200: rgba(0, 0, 0, 0.06);
  --color-gray-300: rgba(0, 0, 0, 0.5);
  --color-gray-400: rgba(0, 0, 0, 0.4);
  --color-gray-500: rgba(0, 0, 0, 0.1);
  --color-gray-600: rgba(0, 0, 0, 0.6);
  --color-black: #000;
  --color-tomato-100: #ff3333;
  --color-tomato-200: rgba(255, 51, 51, 0.1);
  --color-deeppink: #f506a4;
  --color-blueviolet: #7d06f5;
  --color-deepskyblue: #06caf5;
  --color-darkorange: #f57906;
  --color-gold: #f5dd06;
  --color-red: #f50606;

  /* Gaps */
  --gap-21xl: 40px;
  --gap-xl: 20px;
  --gap-31xl: 50px;
  --gap-6xl: 25px;
  --gap-xs: 12px;
  --gap-7xl: 26px;
  --gap-16xl: 35px;
  --gap-sm: 14px;
  --gap-4xl-8: 23.8px;
  --gap-5xl: 24px;
  --gap-4xl: 23px;
  --gap-base: 16px;
  --gap-11xs: 2px;
  --gap-9xs: 4px;
  --gap-13xl: 32px;
  --gap-5xs: 8px;
  --gap-lgi: 19px;
  --gap-17xl: 36px;
  --gap-lg: 18px;
  --gap-smi: 13px;
  --gap-7xs-3: 5.3px;
  --gap-3xs: 10px;
  --gap-2xs: 11px;
  --gap-4xl-6: 23.6px;
  --gap-152xl: 171px;
  --gap-mini: 15px;
  --gap-6xs-5: 6.5px;
  --gap-45xl: 64px;

  /* Paddings */
  --padding-121xl: 140px;
  --padding-80xl: 99px;
  --padding-63xl: 82px;
  --padding-81xl: 100px;
  --padding-31xl: 50px;
  --padding-30xl: 49px;
  --padding-34xl: 53px;
  --padding-xl: 20px;
  --padding-8xs: 5px;
  --padding-17xl: 36px;
  --padding-45xl: 64px;
  --padding-13xl: 32px;
  --padding-xs: 12px;
  --padding-69xl: 88px;
  --padding-104xl: 123px;
  --padding-base: 16px;
  --padding-lg: 18px;
  --padding-4xl: 23px;
  --padding-12xl: 31px;
  --padding-134xl: 153px;
  --padding-57xl: 76px;
  --padding-smi: 13px;
  --padding-19xl: 38px;
  --padding-lgi: 19px;
  --padding-10xs: 3px;
  --padding-5xs: 8px;
  --padding-7xs-5: 5.5px;
  --padding-354xl: 373px;
  --padding-167xl: 186px;
  --padding-4xs: 9px;
  --padding-525xl: 544px;
  --padding-253xl: 272px;
  --padding-37xl: 56px;
  --padding-27xl: 46px;
  --padding-11xl: 30px;
  --padding-11xs: 2px;
  --padding-sm: 14px;
  --padding-3xs: 10px;
  --padding-smi-5: 12.5px;
  --padding-base-5: 15.5px;
  --padding-mid: 17px;
  --padding-12xs: 1px;
  --padding-7xs: 6px;
  --padding-10xs-5: 2.5px;
  --padding-8xl: 27px;
  --padding-mini-5: 14.5px;
  --padding-68xl: 87px;
  --padding-25xl: 44px;
  --padding-11xs-5: 1.5px;
  --padding-7xl: 26px;
  --padding-9xl: 28px;
  --padding-82xl: 101px;
  --padding-50xl-8: 69.8px;
  --padding-10xl: 29px;
  --padding-26xl: 45px;
  --padding-51xl: 70px;
  --padding-6xl: 25px;
  --padding-192xl: 211px;
  --padding-193xl: 212px;
  --padding-33xl: 52px;
  --padding-87xl: 106px;
  --padding-86xl: 105px;
  --padding-177xl: 196px;
  --padding-79xl: 98px;
  --padding-58xl: 77px;
  --padding-61xl: 80px;
  --padding-254xl: 273px;
  --padding-20xl: 39px;
  --padding-21xl: 40px;
  --padding-240xl: 259px;
  --padding-29xl: 48px;
  --padding-23xl: 42px;
  --padding-83xl: 102px;
  --padding-32xl: 51px;
  --padding-195xl: 214px;
  --padding-120xl: 139px;
  --padding-mini: 15px;
  --padding-48xl: 67px;

  /* Border radiuses */
  --br-7xs-4: 5.4px;
  --br-xl: 20px;
  --br-43xl: 62px;
  --br-4xs-7: 8.7px;
  --br-5xs: 8px;
  --br-21xl: 40px;
}
